---
---

//
// IMPORTS
//

@import "variables";
@import "highlights";

* {
//    transition: 0.25s;
}

#wrapper {
    margin: 0 auto;
}

#himawari {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QECBjA1C90N3gAAAiNJREFUeNrtmj0sA3EYxu+0+qGVlhAGg0gjBjFYTE2abmJiRUwMBhK7r5BYxCBhUIvQ1SoGTZMuLIIYRJvGgCDioyl1Wq3V8x/+TXNOT/q825t/897ll/d57r33qioGx+u1r/Azz1zm4NzZblVk583BK9XI+6tSKjwIoNIBqGbTvMWDt2RrskDuaUmo7AACIADzeMBdpLUg03gulYc8HfuS1qsNoOY/b/JSD9HrCZQAAVR4WPUWKPZc1+JgEUrhCZm/Zz6wYNQGqbevmh1AAARgYg8oNutr8SzOBTmcA2qcDhxMXPmSrscOIAACMNcckHvE577bbynyLoCad/dYSvIYdgABEEB59wFilLoTFEP0EGuD+qvv/+wAAiAAYz1Aryfw2yAlQAD/2wMunsKg+fG5JTi3O4R9wQdqPrJ6rsrqddQPcg4gAAIwkQeIGvXZkWlCw/f96dA65MmTW8jDa4tKKfX0egIlQAAVHroXbCt7W5BP9Y5Iz8XwNLp+tR47gAAI4G89YCOJOzxF0Kh4HjtIQz7bpa8eO4AACKC8HjDWphbR/APkXTtvkM8P4RzgG8V6w6F7vOBoE16PHUAABFDWfUBwohNEPxPoh3OHywN5dmkb8uM7DfLuZrvUM84Ez/BHT7kPIAACKKMHiBHdnQZP+Hx5hnObt07qEUeTm1JP0Kt5dgABEICxHiDG4f4yeELq5kr6e9EjAgML/H8AARCAcfENbey5pl8TVUYAAAAASUVORK5CYII=') no-repeat bottom right;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 1240px) {
    .hero .container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: 769px) {
    .column.is-one-third,.column.is-one-third-tablet {
        -webkit-box-flex: 0;
        -ms-flex: none;
        flex: none;
        width: 33.3333%;
    }
}

.section {
    background-color: white;
    padding: 40px 20px;
}

.columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
}

.column {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0;
    width: calc( inherit - 20px);
}

@media screen and (min-width: 769px) {
    .column.is-one-third,
    .column.is-one-third-tablet {
        width: calc(33.3333% - 20px);
    }
}

@media screen and (min-width: 980px) {
    .column.is-one-quarter-desktop {
        width: calc(25% - 20px);
    }
}

.footer {
    padding: 40px 20px;
}

/* Bust image */
.image.is-square {
    padding-top: calc( 100% - 25px );
}
.image.is-square .bust {
    width: auto;
    height: auto;
    top: -25px;
}

#online-users, #online-users .login_time {
    display: none;
}

/* sub account ribon*/
.card {
    overflow: hidden;
}
.subaccount {
    width: 100px;
    padding: 3px 10px;
    background: #d43131;
    color: #fff;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: -24px;
    transform: rotate(405deg);
}

/* Exp Progress */
.progress-info {
    position: absolute;
    text-align: center;
    color: #4a4a4a;
    font-size: .95rem;
    width: 10rem;
    height: 1rem;
    bottom: 114px;
    right: 0;
    left: 0;
    margin: auto;
}

.progress.is-primary {
    margin-bottom: 0;
}

.card-footer-item {
    font-size: 18px;
}
.card-footer-item .fa {
    margin-right: 4px;
}
.card-footer-item img {
    width: 18px;
    margin-right: 4px;
}

.card-footer-item[data-value] {
	color: #00d1b2;
}
.card-footer-item[data-value^="0"] {
	color : #ffdd57;
}
.card-footer-item.health[data-value^="1"] {
	color : #ffdd57;
}
.card-footer-item[data-value="00"] {
	color : #ff3860;
}
