{{ partial "header.html" . }}

<!--
<script>
var netdataNoBootstrap = true;
var netdataServer = "https://netdata.chi.show";

</script>
<script type="text/javascript" src="//netdata.chi.show/dashboard.js"></script>
-->
<section class="section">
  <div class="container">
    <h1 class="title is-2">Status</h1>
    <div class="columns">
      <div class="column is-two-thirds">
        <article class="message">
          <div class="message-header">
            <p>現在停止中です</p>
          </div>
          <div class="message-body">
            さようなら(^o^)/
          </div>
        </article>
      </div>
      <div class="column">
        <article class="message is-primary">
          <div class="message-header">
            <p>サーバーステータス</p>
          </div>
          <div class="message-body" style="box-sizing: border-box;">
            <p>停止中</p>
          </div>
        </article>
      </div>
    </div>
</section>

{{ partial "footer.html" . }}