{{ partial "header.html" . }}

<section class="section">
    <div class="container" style="padding-bottom:0;">
        <h1 class="title is-2">News</h1>
    </div>
</section>

{{ range (.Paginator 10).Pages }} {{ .Render "list" }} {{ end }}

<!-- ページめくりリンクの追加 -->
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div>
    <nav role="pagination">
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">前へ</a>
        {{ end }}
        <span class="">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">次へ</a>
        {{ end }}
    </nav>
</div>
{{ end }} {{ partial "footer.html" . }}